<div class="video__container">
	<video #videoElement autoplay></video> <canvas #canvasElement></canvas>
	<a class="back-button" (click)="onBackClick()"
		><img src="../../../assets/images/back-button.svg" alt="back-button"
	/></a>
	<button class="togglePhoto" (click)="capturePhoto()"></button>
	<input
		hidden
		type="file"
		accept="image/*"
		(change)="handleFileInput($event)"
		#fileInput
		capture="none"
	/>
	<button class="folderPhoto" (click)="fileInput.click()">
		<img src="../../../assets/images/folder-photo.svg" alt="Иконка папки" />
		<div class="video__text">Галерея</div>
	</button>
</div>
