<div class="video__container">
	<video #videoElement autoplay></video> <canvas #canvasElement></canvas>
	<a class="back-button" (click)="onBackClick()"
		><img src="../../../assets/images/back-button.svg" alt="back-button"
	/></a>
	<div class="buttons">
		<button (click)="capturePhoto()">Сфоткать</button>
		<input
			hidden
			type="file"
			accept="image/*"
			(change)="handleFileInput($event)"
			#fileInput
			capture="none"
		/>
		<button (click)="fileInput.click()">Загрузить</button>
	</div>
</div>
