video {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
    object-fit: cover;
    width: auto;
    max-width: none;
}

canvas{
    display: none
}

.video__container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.back-button{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.buttons{
    box-sizing: border-box;
    position: fixed;
    bottom: 30px;
    font-weight: 500;
    width: 100%;
    padding: 0 20px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

button{
    position: relative;
    padding: 0 15px;
    display: inline-block;
    width: 45%;
    height: 50px;
    background-color: #B200FF;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
}