video {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
    object-fit: cover;
    width: auto;
    max-width: none;
}

canvas{
    display: none
}

.video__container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.back-button{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.togglePhoto{
    z-index: 4;
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 40px;
    background-color: transparent;
    backdrop-filter: blur(9px);

    position: fixed;
    bottom: 50px;
    left: 50%;
    
    transform: translateX(-50%);
    transition: transform 0.2s ease, scale 0.1s ease;
    transform-origin: center;
}

.togglePhoto:active {
    transform: translateX(-50%) scale(0.95); 
    outline: none;
}

.folderPhoto{
    z-index: 4;
    height: 62px;
    background-color: transparent;
    border: none;

    position: fixed;
    bottom: 50px;
    left: 75%;
}

.video__text{
    color: white;
}