.buttons__container{
    box-sizing: border-box;
    position: fixed;
    bottom: 65px;
    font-weight: 500;
    border-top: 1px solid #6464641A;
    border-radius: 10px;
    width: 100%;
    padding: 0 20px;
    background: #FCFCFC;
    transition: transform 0.5s ease;
    min-height: 165px;
    

    &.hide-down {
    transform: translateY(125px);
    }

    .icons{
        margin-top: 8px;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        .icon-open-closed{
            position: absolute;
            right: 0;
            padding-left: 2px;
        }
    }

    .things{
        margin-top: -7px;
        width: 70%;
        .thing{
            width: 50%;
            height: 30px;
            border: none;
            background-color: white;
            font-size: 12px;
            padding-bottom: 8px;
            transition: all 0.3s ease;
            border-radius: 0 0 10px 10px;

            &.thing-active{
                border-radius: 0 0 10px 10px;
                background-color: #B200FF;
                color: white;
            }
        }
    }
}