.container{
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    
    .header__nav{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 10px;
        box-sizing: border-box;
        background: #FCFCFC;
        z-index: 5;

        .nav__list{
            display: flex;
            justify-content: space-around;

            .nav__item{
                width: 70px;
                text-align: center;

                .nav__link img {
                    height: 24px;
                    width: auto;
                    margin-bottom: 5px;
                }

                .nav__link.active p {
                    color: #9747FF
                }
            }

            .nav__item__center{
                width: 30px;
            }
        }
    }
}

.container__photo{
    width: 72px;
    height: 72px;
    background-color: #FCFCFC;
    border: 0;
    border-radius: 35px;
    z-index: 6;
    position: fixed;
    bottom: 20px;
    left: calc(50% - 35px);

    .button__photo{
        width: 60px;
        height: 60px;
        background-color: #b200ff;
        border: 0;
        border-radius: 30px;
        box-shadow: -1px 7px 10px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}