<div class="search-container">
	<div class="search-input-wrapper">
		<input
			type="text"
			[(ngModel)]="searchQuery"
			(input)="search()"
			placeholder="Поиск по категориям..."
			class="wardrobe-search-input"
		/>

		<button class="wardrobe-search-button">
			<img
				src="../../../assets/images/search-wardrobe.svg"
				alt="Search icon"
				class="icon-svg"
			/>
		</button>
	</div>

	<div class="result">
		<div *ngIf="searchResult.length > 0" class="search-result">
			<div
				*ngFor="let result of searchResult"
				class="result-item"
				routerLink="/mesh-wardrobe"
				[queryParams]="getSearchParams(result)"
				(click)="clearSearch()"
			>
				{{ result.path }}
			</div>
		</div>

		<div *ngIf="searchQuery && !searchResult.length" class="no-results">
			<p>Ничего не найдено</p>
		</div>
	</div>
</div>
