<div class="confirmation__container">
	<a class="back-button" routerLink="/gallery"
		><img src="../../../assets/images/back-button.svg" alt="back-button"
	/></a>
	<div *ngIf="imageData">
		<img class="image-data" [src]="imageData" alt="Captured Photo" />
	</div>
	<div class="status">
		<p *ngIf="apiService.loading()">Uploading image...</p>
		<p *ngIf="apiService.error()" class="error">
			Error: {{ apiService.error() }}
		</p>
	</div>
	<div class="buttons">
		<button (click)="confirm()" [disabled]="!imageData || apiService.loading()">
			Загрузить
		</button>
	</div>
</div>
